@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

.button {
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 150%;
    text-decoration: none;
}

.button-container {
    background-color: #4CAF50;
    /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button:hover {
    color: rgba(255, 255, 255, 0.578);
    transition: 0.2s ease;
}

.btn {
    margin-left: 20px;
    background-color: #4CAF50;
    border-color: none;
    border-radius: 5%;
    color: #fff;
    font-size: 16px;
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}