@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

.container {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
}

.container2 {
    padding: 2em;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.wrapper-container{
    margin-bottom: 20px;
    text-align: center;
}

.wrapper-container-left{
    margin-bottom: 20px;
    text-align: left;
}