@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

.container {
    padding: 2em;
    margin: 0 auto;
    /* width: 75%; */
    text-align: center;
}

.wrapper-container{
    margin-bottom: 20px;
    text-align: center;
}