@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap');

.App {
    font-family: sans-serif;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1f1f1;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

trix-editor {
    position: relative;
    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    background-color: rgba(255, 255, 255, 0.838);
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1875em;
    letter-spacing: 0.00938em;
    margin-top: 1rem;
    height: 952px;
    text-align: left;
}

h1 {
    text-align: center;
}

.heading {
    background-color: #fff;
    color: rgb(0, 0, 0);
    margin-top: 0;
    position: relative;
    padding: 1em;
    text-align: left;
}

.trix-container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}


.trix-button {
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    border: 0.5px solid rgba(0, 0, 0, 0.144);
    margin-bottom: 10px;
}

.trix-button:hover {
    background-color: rgb(246, 246, 246);
}

.login-input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 50%;
    transition: .2s;
}


.login-submit:active,
.login-submit:focus,
.login-submit:hover {
    border-color: #6A679E;
    outline: none;
}

.login-input:focus {
    outline: none;
}

.access:focus,
.title:focus {
    outline: none;
}
